/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Universal style  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #9F9F9F;
}

/* Header Area  */
header{
    height: 20px;
    background-color: #562EFF
    ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 25px 80px;
}
.logo{
    width: 10%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 50px;
    background-color: transparent;
}
.logo h3{
    font-size: 24px;
    font-weight: 500;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 60px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    transition: .5s;
}
nav ul li a:hover{
    background-color: white;
    color: #562EFF;
}
nav img{
    height: 51px;
    width: 51px;
    border-radius: 50%;
}

/* Top section  */
.top-section, .course-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 30px 80px;
    padding: 33px;
    border-radius: 5px;
}
.top-player h1, .top-blog h1, .latest-course h1{
    font-size: 24px;
    font-weight: 500;
    color: #562EFF
    ;
    margin: 0 0 40px 0;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.player h3{
    font-size: 18px;
    font-weight: 500;
    color: #000000
    ;
}
.top-section hr{
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}
.blog{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}
.blog img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
}
.blog-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.blog-title h3{
    margin: 8px 0;
    font-size: 20px;
}
.blog-title span{
    font-size: 16px;
    color: gray;
}
.blog-title span a{
    text-decoration: none;
}

/* latest course */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
}
.course{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px 2px lightgray;
}
.course img{
    width: 224px;
    height: 104px;
}
.course h3{
    font-size: 20px;
    width: 250px;
    margin-bottom: 8px;
}
.course span{
    color: #ED6B4F;
    font-size: 14px;
    font-weight: 300;
}
.information{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.rating, .duration{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.rating .stars{
    display: flex;
    width: 74px;
    height: 11px;
}
.rating .stars img{
    width: 14px;
    height: 14px;
}
.duration{
    background-color: #FFE4E8;
    color: #FF4A60
    ;
    padding: 3px 5px;
    border-radius: 15px;
}
.duration img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* Footer  */
footer{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: flex-end;
    height: 30vh;
    background-color: #562EFF;
}
footer p{
    font-size: 16px;
    font-weight: 300;
    color: #9F9F9F;
}

/* Toggle menu  */
#toggle-open, #toggle-close{
    display: none;
    font-size: 36px;
    cursor: pointer;
}

/* Meda display */
@media only screen and (max-width: 992px) {
    #toggle-open{
        display: block;
    }
    nav{
        display: none;
        width: 350px;
        height: 500px;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -350px;
        background-color: #562EFF;
        transition: .5s;
        border: 1px solid red;
        border-radius: 0 0 0 110px;
    }
    nav ul{
        flex-direction: column;
        padding: 0;
    }
    nav ul li{
        margin: 20px 0;
        border-bottom: 1px solid #9F9F9F;
    }
    nav ul li a{
        font-size: 20px;
    }
    #toggle-close{
        display: block;
        position: relative;
        top: -50px;
        right: -100px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 668px){
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
    }
}