/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Universal style  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #9F9F9F;
}

/* Header Area  */
header{
    height: 20px;
    background-color: #562EFF
    ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 25px 80px;
}
.logo{
    width: 10%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 50px;
    background-color: transparent;
}
.logo h3{
    font-size: 24px;
    font-weight: 500;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 60px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    transition: .5s;
}
nav ul li a:hover{
    background-color: white;
    color: #562EFF;
}
nav img{
    height: 51px;
    width: 51px;
    border-radius: 50%;
}

/* Top section  */
.top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 30px 80px;
    padding: 33px;
    border-radius: 5px;
}
.top-player h1{
    font-size: 24px;
    font-weight: 500;
    color: #562EFF
    ;
    margin: 0 0 40px 0;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.player h3{
    font-size: 18px;
    font-weight: 500;
    color: #000000
    ;
}
.top-section hr{
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}